<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="categoriesConfigs" type="ExceptionLogParser.CategoriesConfigsSection, ExceptionLogParser"/>
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="SiteName" value="Test Site" />
    <add key="FileFolderLocation" value="C:\Users\Andrew\Documents\AlertWatch Dropbox" />
    <add key="MinimumEntriesInSegment" value="3" />
    <add key="MaximumTimeInSegment" value="120" />
    <add key="SMTPHost" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587"/>
    <add key="SenderAccountUserName" value=""/>
    <add key="SenderAccountPassword" value=""/>
    <add key="FromAddress" value="andrew.radecki@gmail.com"/>
    <add key="SuccessEmail" value="andrew.radecki@gmail.com"/>
    <add key="ErrorEmail" value="andrew.radecki@gmail.com"/>
  </appSettings>

  <categoriesConfigs>
    <categories>
    </categories>
  </categoriesConfigs>
</configuration>